<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>나의 리뷰</title>
    <style>
        .mybutton {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            margin-top: 10px;
        }

        .mybutton > button {
            margin-left: 10px;
        }

        .mywrith {
            width: 765px;
            margin: 2px auto 2px auto
        }
    </style>
    <script>
        $(document).ready(function () {
        review_page_init();
      });

        function review_page_init(){

        }
        // 연결부분의 변수명을 아직 알수가 없어서 임시로 작성.
        function save_review() {
            let urlParams = new URLSearchParams(window.location.search);
            let bookId = urlParams.get('bookId');
            let title = $('#utitle').val()
            let contents = $('#ucontent').val()
            let rating = $('#rating').val()
            let userId = sessionStorage.getItem("userId");
            let formData = new FormData();
            formData.append("title_give", title);
            formData.append("contents_give", contents);
            formData.append("rating_give", rating);
            formData.append("bookId_give",bookId);
            formData.append("userId_give",userId);

            fetch('/reviews', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                window.location.assign('/books/'+bookId)
            })
        }

        // 취소 버튼 눌렀을때 이전 페이지로 이동
        function quit_review() {
            history.back();
        }
    </script>
</head>

<body>
    <div class="mywrith">
        <h4>글을 작성하는 공간입니다.</h4>
        <div>
            <div class="mytitle">
                <textarea name="title" id="utitle" rows="1" cols="100" placeholder="제목" maxlength="100"
                    required></textarea>
            </div>

            <div>
                <textarea name="content" id="ucontent" rows="18" cols="100" placeholder="내용" required></textarea>
            </div>
            <div>
                <div>
                    <label class="input-group-text" for="inputGroupSelect01">평점</label>
                    <select class="form-select" id="rating">
                        <option selected>-- 선택하기 --</option>
                        <option value="1">⭐</option>
                        <option value="2">⭐⭐</option>
                        <option value="3">⭐⭐⭐</option>
                        <option value="4">⭐⭐⭐⭐</option>
                        <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                </div>
            </div>
            <div class="mybutton">
                <button type="button" onclick="save_review()">글 작성</button>
                <button type="button" onclick="quit_review()">취소</button>
            </div>
        </div>
    </div>
</body>

</html>